.App {
  background: #edf0f6;
}

.AppContent {
  height: 600px;
  padding: 10px 10px 60px 10px;
  overflow-y: scroll;
}

.loginPage {
  padding: 30px 0px 0px 0px;
  height: 70vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.loginHeader {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bottomNav {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #e3e3e3;
  position: fixed;
  bottom: 0;
}

.tabItem, .tabItemLink {
  font-size: 10px;
  text-transform: uppercase;
}

.tabItem:hover {
  background: #e3e3e3
}
